{% extends 'app/base.html' %}
{% block titleblock %}
  <title>Reset Password</title>
{% endblock %}

{% block bodyblock %}
  <div class="container">
    <div class="jumbotron">
      <h2>Password Reset</h2>
        <span>Forgotten your password?<br> Enter your email address below, and we'll email instructions for setting a new one.</span><br><br><br>
      <form method="post">
        {% csrf_token %}
        <p><label for="email">Email address:</label>
        <input type="email" name="email"></p>

        <p><button id='button' type="submit" class="btn btn-primary">Reset my password</button></p>
      </form>
    </div>
  </div>
{% endblock %}
