{% extends 'app/base.html' %}
{% block titleblock %}
  <title>Reset Password</title>
{% endblock %}

{% block bodyblock %}
  <div class="container">
    <div class="jumbotron">
      <h2>Enter new Password</h2>
        <span>Please enter your password twice so that we can verify you typed it in correctly.</span><br><br><br>
      <form method="post">
        {% csrf_token %}
        <p><label for="new">New password</label>
        <input type="password" name="new"></p>

        <p><label for="confirm">Confirm password</label>
        <input type="password" name="confirm"></p>

        <p><a id="button" class="btn btn-primary" href="{% url 'password_reset_complete' %}">Change my password</a></p>
      </form>
    </div>
  </div>
{% endblock %}
